*.class

# Mobile Tools for Java (J2ME)
.mtj.tmp/

# Package Files #
*.jar
*.war
*.ear

# virtual machine crash logs, see http://www.java.com/en/download/help/error_hotspot.xml
hs_err_pid*

# Play Framework
logs
target
/.idea
/.idea_modules
/.classpath
/.project
/.settings
/RUNNING_PID

# NER
stanford-ner-2015-12-09.zip
stanford-ner-2015-12-09
public/classifiers
